/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'sans-serif';
    height: 100vh;
}
#content {
    padding: 30px 50px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li{
            background: #fff;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 8px;

            ul {
                margin-top: 20px;
                li{
                    padding: 0;
                }
            }
        }
    }
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}


nav a:hover{
    color: #039be5;
    background: #CFD8DC;
}
nav a.active{
    color: #039be5;
}

.FailyContainer{
    width: 20%;
    margin-left: auto; margin-right: auto;
}